@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap");

$default-font: "Montserrat", sans-serif;

// utilities
$page-width: 950px;

// color
$primary-blue: #267aee;
$secondary-color: #47525d;
$white: #ffffff;
$red: #d43d3e;
$green: #045004;
$green-hover: #007e00;

$main-background: #c2e9ff;
$secondary-background: #cae5ca;
$form-background: #dddddd;
